<app-todo-add (addTask)="addTask($event)"></app-todo-add>

<app-todo-filter
  [currentFilter]="filter()"
  (filterChange)="setFilter($event)"
></app-todo-filter>

<app-task-list
  [tasks]="paginatedTasks()"
  [currentFilter]="filter()"
  (toggleCompletion)="toggleTaskCompletion($event)"
  (requestDelete)="requestDeleteTask($event)"
></app-task-list>

<app-task-pagination
  [currentPage]="currentPage()"
  [totalPages]="totalPages()"
  [itemsPerPage]="itemsPerPage"
  [totalFilteredItems]="filteredTasks().length"
  (previous)="previousPage()"
  (next)="nextPage()"
></app-task-pagination>

<app-confirmation-modal
  [isOpen]="showDeleteConfirmation()"
  title="Confirm Deletion"
  message="Are you sure you want to delete this task?"
  confirmButtonText="Delete"
  (confirm)="confirmDelete()"
  (cancel)="cancelDelete()"
></app-confirmation-modal>
