<app-todo-add (addTask)="addTask($event)"></app-todo-add>

<app-todo-filter
  [currentFilter]="(filter$ | async) ?? 'all'"
  (filterChange)="setFilter($event)"
></app-todo-filter>

<app-task-list
  [tasks]="(paginatedTasks$ | async) ?? []"
  [currentFilter]="filter$ | async"
  (toggleCompletion)="toggleTaskCompletion($event)"
  (requestDelete)="requestDeleteTask($event)"
></app-task-list>

<app-task-pagination
  [currentPage]="currentPage$ | async"
  [totalPages]="totalPages$ | async"
  [itemsPerPage]="itemsPerPage"
  [totalFilteredItems]="(filteredTasks$ | async)?.length ?? 0"
  (previous)="previousPage()"
  (next)="nextPage()"
></app-task-pagination>

<app-confirmation-modal
  [isOpen]="showDeleteConfirmation"
  title="Confirm Deletion"
  message="Are you sure you want to delete this task?"
  confirmButtonText="Delete"
  (confirm)="confirmDelete()"
  (cancel)="cancelDelete()"
></app-confirmation-modal>
